<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Setup
        - Incluir la CDN de Vue@2
    -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="name">
        <button v-on:click="agregar()">Agregar</button>
        <hr>
        <ul>
            <li v-for="persona in personas">{{persona.name}}</li>
        </ul>
    </div>
    <script>
        // Iniciando la instancia de VUE
        const app = new Vue({
            el: '#app',
            data: {
                name: '',
                personas: []
            },
            methods: {
                // Van a estar todas nuestras funciones
                agregar: function (){
                    console.log("texto :: ", this.name)
                    this.personas.push({name: this.name})
                }
            }
        })
    </script>
</body>
</html>