<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        .tachado {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="item">
        <button v-on:click="agregar()">Agregar</button>
        <hr>
        <ul>
            <li v-for="(item, i) in lista">
                <span v-bind:class="{tachado: item.checked}">{{item.item}}</span>
                <button v-on:click="completar(i)" v-bind:disabled="item.checked">Completar</button>
                <button v-on:click="eliminar(i)" v-bind:disabled="item.checked">Eliminar</button>
            </li>
        </ul>
    </div>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                item: '',
                lista: []
            },
            methods: {
                agregar: function (){
                    this.lista.push({item: this.item, checked: false})
                },
                eliminar: function (indice){
                    console.log("posicion elemento lista: ", indice)
                    this.lista.splice(indice, 1)
                },
                completar: function (indice){
                    // this.$set(this.lista[indice], 'checked', true);
                    this.lista[indice].checked = true
                    console.log("lista: ", this.lista)
                }
            }
        })
    </script>
</body>
</html>